* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

span, a, label {
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}



ul {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 0 50px 0 50px;
    align-items: center;
    flex-wrap: wrap;
}




.navbar-top{
    padding-top: 5px;
    background-color: rgb(242, 251, 255)
}

ul li{
    list-style: none;
}

ul li a{
    padding: 20px;
}

body{
    position: relative;
}

.sms{
    position: fixed;
    font-size: 40px;
    padding: 10px;
    background-color: rgb(66, 151, 255);
    color: white;
    border-radius: 60px;
    text-align: center;
    right: 15px;
    bottom: 15px;
    z-index: 1;
}

.navbar-top a{
    color: rgba(128, 128, 128, 0.541);
    transition: all 0.2s;
}

.navbar-top a:hover{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgba(128, 128, 128, 0.818);
}

.navbar img{
    width: 15%;
    margin-right: 100px;
}

.navbar ul{
    background-color: white;
}

.navbar a{
    transition: all 0.2s;
    color: rgba(0, 0, 0, 0.693);
}

.navbar a:hover{
    color: skyblue;
}

#ili{
    color: rgba(0, 0, 0, 0.667);
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* header has started */

.bg-bank{
    background-image: url("https://minio.uzdc.uz/utc-new/Utc-prod/d26ff763-4d7e-48fa-aa93-3d1d2fa2469a/5anA3uTbSy.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0 10px 40px;
}

.type{
    border: 1px solid rgba(0, 183, 255, 0.652);
    color: rgba(89, 189, 255, 0.639);
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    font-weight: 600;
}

.bg-bank h2{
    color: white;
    padding: 30px 0 20px 0;
    font-weight: 100;
    font-size: 30px;
}

.bepul{
    color: white;
    padding-bottom: 20px;
    font-size: 25px;
}

.batafsil{
    padding: 20px 35px;
    color: black;
    background-color: rgb(255, 255, 57);
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all 0.3s;
}

.batafsil:hover{
    background-color: white;
}

/* xizmatlar section has started */

#xizmatlar{
    background-image: url("./images/bgimage.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.onlyimg{
    margin-top: 75px;
}

.box{
    padding: 30px 37px;
    background-color: white;
    color: rgb(65, 65, 65);
    border-radius: 5px;
    transition: all 0.25s;
    text-align: center;
    align-items: center;
    color: grey;
}

.box svg{
    margin-bottom: 20px;
}

.gsm{
    margin-top: 50px;
    display: flex;
    
}

.boxes{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.box:hover{
    color: rgb(93, 93, 255);
    box-shadow: 0px 0px 25px 0px rgb(136, 150, 255);
    transform: scale(1.007);
}

/* svg ni hoveri ishlamadi */

/* .box:hover svg path {
    fill: blue;
} */

.price{
    background-color: white;
    width: 40%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.price h2{
    padding: 15px;
    background-color: rgb(88, 88, 255);
    color: white;
    text-align: center;
}

.pdprice{
    padding: 20px;
}

#cards{
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: rgb(58, 58, 58);
}

.same{
    padding: 10px 15px;
    border-radius: 5px;  
    border: 1px solid grey;
}

.enternum{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in1{
    width: 50%;
}

.in2{
    width: 30%;
}

.ntery{
    display: flex;
}

.nin1{
    width: 70%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.nin2{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    width: 30%;
}

.pdprice button{
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: yellow;
    border-radius: 5px;
    font-weight: 50px;
    transition: all 0.2s;
}

.pdprice button:hover{
    background-color: rgb(66, 66, 255);
    color: white;
}

.bottom-a{
    margin-top: 5px;
    color: rgb(0, 170, 255);
    padding: 10px 40px;
    text-align: center;
    transition: all 0.2s;
}

.bottom-a:hover{
    color: blue;
}

#xizmatlar{
    padding-bottom: 180px;
}

/* section ommabop has started */



.limit{
    padding: 15px;
    display: flex;
    column-gap: 15px;
    background-color: rgb(236, 250, 255);
}

.ommabop{
    display: flex;
    column-gap: 10px;
}

.limit p{
    color: grey;
}

.limit span{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.828);
    margin-top: 12px;
}

#ommabop{
    margin-top: 80px;
    margin-bottom: 80px;
}

#ommabop h2{
    font-size: 50px;
    margin-bottom: 40px;
}

.line{
    border: 0.2px solid rgba(128, 128, 128, 0.435);
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.limit{
    transition: all 0.4s;
}


.pos{
    background-color: rgb(93, 93, 255);
    color: white;
    padding: 25px 60px 25px 20px;
    position: relative;  
}

.pos img{
    width: 7%;
    position: absolute;
    right: 3px;
    bottom: 3px;
}

#odd{
    background-color: green;
}

.chevron{
    position: absolute;
    padding: 15px;
    background-color: yellow;
    color: black;
    border-radius: 100%;
    right: 0px;
    bottom: 15px;
    text-align: center;
    transform: translateX(100%);
    transition: 0.3s ease;
}

.tarif{
    position: relative; 
    overflow: hidden; 
    transition: all 0.3s;
}

.tarif:hover .chevron {
    transform: translateX(0);
    right: 20px;
}

.tarif:hover{
    
    box-shadow: 0px 20px 30px 5px rgb(210, 242, 255);
}

.tarif:hover .limit{
    background-color: white;
}






